section.section-outer.section-screenshots
    .section-inner  
        .section-screenshots-wrapper
            .section-screenshots__title
            .section-screenshots__subtitle
            .section-screenshots__slider
                .arrow-left
                    i(class="fas fa-long-arrow-alt-left")
                .screenshots
                    img(src="/assets/shot1.png")
                    img(src="/assets/shot2.png")
                    img(src="/assets/shot3.png")
                    img(src="/assets/shot4.png")
                    img(src="/assets/shot5.png")
                    img(src="/assets/shot6.png")
                    img(src="/assets/shot7.png")
                .arrow-rigth
                    i(class="fas fa-long-arrow-alt-right")