section.section-outer.section-footer
    .section-inner
        .section-footer-wrapper
            .section-footer__icons
                .icon(class='fab fa-facebook-f')
                .icon(class='fab fa-twitter')
                .icon(class='fas fa-basketball-ball')
                .icon(class='fab fa-behance')
            .section-footer__text='Copyright © 2017  |  UXSEVEN - a sister concern of codepixar.com'