html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title lg-giant
    body
        //- header
        include components/header/header.pug
        //- /header

        //- features
        include components/features/features.pug
        //- /features

        //- screenshots
        include components/screenshots/screenshots.pug
        //- /screenshots

        //- pricing
        include components/pricing/pricing.pug
        //- /pricing

        //- video
        include components/video/video.pug
        //- /video

        //- reviews
        include components/reviews/reviews.pug
        //- /reviews

        //- download
        include components/download/download.pug
        //- /download

        //- footer
        section.section-outer.section-footer
            .section-inner='section-footer'
        //- /footer