@import './components/normalize.scss';

@font-face {
    font-family: "Dosis";
    src: url(./assets/fonts/Dosis/Dosis-Bold.ttf);
    src: url(./assets/fonts/Dosis/Dosis-Regular.ttf);
    src: url(./assets/fonts/Dosis/Dosis-Medium.ttf);
    src: url(./assets/fonts/Dosis/Dosis-SemiBold.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/Roboto/Roboto-Light.ttf);
    src: url(./assets/fonts/Roboto/Roboto-Medium.ttf);
    src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
}
// Mixins
@mixin font-dosis {
    font-family: 'Dosis', sans-serif;
}
@mixin font-roboto {
    font-family: 'Roboto', sans-serif;
}
// /Mixins

//bootstrap
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
// bootstrap


// var
$color-white: #ffffff;
$color-orange: #fd712c;
$color-pink: #f01c78;
$color-darkGray: #222222;
$color-Gray: #333333;
$color-lightGray: #777777;

$screen-sm: 576px;
$screen-md: 768px;
$screen-xl: 992px;
$screen-lg: 1200px;

$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-xl-max: 1199px;
 // /var

//imports
//fontawesome
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

@import './components/header/header.scss';
@import './components/features/features.scss';
@import './components/screenshots/screenshots.scss';
@import './components/pricing/pricing.scss';
@import './components/video/video.scss';
@import './components/reviews/reviews.scss';
@import './components/download/download.scss';
@import './components/footer/footer.scss';
// /imports

// common
* {
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
// /common
